<div class="col-md-12">
    <h3>Jeste li sigurni da zelite da obrisete jabuku sa id-jem {{id}}?</h3>
    <button class="btn btn-danger" (click)="obrisiJabuku()">Da</button>
    <button class="btn btn-info" routerLink="/jabuke">Ne</button>
</div>

