<form class="container" (ngSubmit)="sacuvajJabuku()">
        <div class="form-group">
            <label>Nutrition Vl.</label>
            <input type="number" class="form-control" name="nutritionValue" placeholder="Nutrition Vl" [(ngModel)]="jabuka.nutritionValue">
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input class="form-control" name="weight" placeholder="Weight" [(ngModel)]="jabuka.weight">
        </div>
        <div class="form-group">
            <label>Color</label>
            <select class="form-control" name="color" [(ngModel)]="jabuka.color">
                <option value="" disabled>Selektuj boju</option>
                <option [ngValue]="boja.key" *ngFor="let boja of boje">{{boja.label}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Sacuvaj jabuku</button>
</form>