<table class="table">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let thead of tableConfig">{{thead.label}}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td *ngFor="let col of tableConfig" >
          <input *ngIf="col.type == 'text'" [placeholder]="col.label"  [(ngModel)]="filterValues[col.key]" (ngModelChange)="filtrirajJabuke()"/>
          <select *ngIf="col.type == 'colorIndicator'" [(ngModel)]="filterValues[col.key]" (ngModelChange)="filtrirajJabuke()">
              <option [ngValue]="color.value" *ngFor="let color of getAllPossibilitiesForProperty(col.key)" [ngStyle]="{'background-color':color.value}"></option>
          </select>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let jabuka of filtriraneJabuke">
      <td>
        <button class="btn btn-info" (click)="otvoriJabuku(jabuka.id)">Otvori</button>
      </td>
      <td *ngFor="let tcoll of tableConfig">
        <span *ngIf="tcoll.type == 'text'">{{jabuka[tcoll.key]}}</span>
        <button *ngIf="tcoll.type == 'colorIndicator'" class="btn" [ngStyle]="{'background-color':jabuka[tcoll.key]}"></button>
      </td>
      <td>
        <button class="btn btn-success" (click)="editujJabuku(jabuka.id)">Edituj</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="obrisiJabuku(jabuka.id)">X</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <button *ngFor="let nesto of a | testOne:154:'fasdfasd' | testTwo:12">{{nesto}}</button>
</div>