<div>
    <h1>Pregled jedne jabuke</h1>
</div>

<ul class="nav nav-pills">
    <li role="presentation">
        <a [routerLink]="('/jabuke/'+id+'/info')">Informacije</a>
    </li>
    <li role="presentation">
        <a [routerLink]="('/jabuke/'+id+'/edit')">Editing</a>
    </li>
</ul>
<router-outlet></router-outlet>